/*通用类*/
*{
	margin:0;
	padding:0;	
}
body{		
	min-width:960px;
	margin:0 auto;
	font-size:13px;	
	font-family:Georgia;
	background:#fff;
	text-align:justify;	
	line-height: 20px;
	color:#666;
}
h1,h2,h3{	
	font-weight:500;	
}
img{
	border:none;	
}
a{
	cursor:pointer;
	color:#666;
	text-decoration:none;	
	outline:none;
}
a:hover{
	color:#0cab00;	
}
ul{
	list-style-type:none;	
}
em{
	font-style:normal;	
}
.lt{
	float:left;	
}
.rt{
	float:right;	
}
input.sub,label{
	border:none;	
	cursor:pointer;
}
input,textarea{
	font-family:Georgia;
	outline:none;	
}
table{
	border-collapse:collapse;	
}
table td,table th{
	padding:0;	
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#ccc;
}
input::-moz-placeholder,textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
}
input:-moz-placeholder,textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
}
div.clear{
	font: 0px Arial; line-height:0;
	height:0; 
	overflow:hidden;	
	clear:both;	
}
.line5{
	font-size:1px;height:5px;width:100%;clear:both;	
}
.line10{
	font-size:1px;height:10px;width:100%;clear:both;	
}
.line20{
	font-size:1px;height:20px;width:100%;clear:both;	
}
/*wrapin 主体容器宽度*/
.wrapin{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.header{
	width: 960px;
	margin:0 auto;
	border-top:8px solid #06b0a3;
	height: 122px;
	position: relative;
}
.header a.logo{
	float: left;
	margin-top:8px;
}
.nav{
	float: right;
	height: 122px;
	line-height: 122px;
}
.nav a{
	float: left;
	margin-left:32px;
	font-size:14px;
	color:#666;
}
.nav a:hover,.nav a.hover{
	color:#000;
}

.hm_top{
	text-align: center;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	width: 960px;
	margin:0 auto;
	padding:14px 0;
	background:#ebebea;
	font-size:22px;
	line-height: 33px;
	color:#333;
}
.banner{
	display: block;
	width: 960px;
	margin:10px auto 0 auto;
}
.banner img{
	display: block;
	width: 960px;
	height:auto;
}

.hm_tr{
	width: 960px;
	margin:0 auto;
	padding:28px 0;
}
.tr_item{
	padding:0 20px 0 70px;
	position: relative;
	float: left;
	width: 230px;
}
.tr_item dt{
	height: 44px;
	line-height: 44px;
	font-size:20px;
	color:#0cab00;
}
.tr_item dd{
	line-height: 20px;
	font-size:13px;
}
.tr_item .ico{
	display: block;
	width: 48px;
	height: 48px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.hm_pro{
	padding:28px 0;
	background:#ebebea;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	width: 960px;
	margin:0 auto;
}
.pro_item{
	width: 260px;
	float: left;
	margin:0 0 0 30px;
	background:#fff;
	height: 390px;
	padding:10px;
}
.pro_item .photo{
	display: block;
	width: 260px;
	height: 180px;
	position: relative;
	overflow: hidden;
}
.pro_item .photo img{
	display:block;
	width:100%;
	height:100%;
	object-fit:cover;
}
.pro_item dt{
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size:16px;
	color:#0cab00;
}
.pro_item dd{
	line-height: 20px;
	max-height:160px;
	overflow: hidden;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-line-clamp:8;
}

.hm_cnt{
	width: 960px;
	padding:20px 0;
	margin:0 auto;
}
.hm_cnt .t1{
	height: 64px;
	line-height: 64px;
}
.hm_cnt .cleft{
	width: 325px;
	float: left;
}
.hm_cnt dl{
	width: 120px;
	float: left;
	line-height: 24px;
	font-size:15px;
	color:#999;
}
.hm_cnt dt{
	color:#000;
}
.hm_cnt .more{
	float: right;
	color:#874ca0;
	margin:0 50px 0 0;
}
.hm_cnt .cright{
	width: 240px;
	float: left;
}
.hm_cnt .text{
	width: 210px;
	height: 34px;
	line-height: 34px;
	border:0;
	background:#e6e6e6;
	border-radius:5px;
	margin-bottom:10px;
	text-indent:10px;
}
.hm_cnt .sub{
	display: block;
	width: 80px;
	height: 32px;
	color:#874ca0;
	line-height: 32px;
	background:#e6e6e6;
	border-radius:5px;
}

.footer{
	clear: both;
	width: 960px;
	height: 54px;
	line-height: 54px;
	margin:0 auto;
	background:#444;
	color:#fff;
}
.footer .copy{
	padding-left:20px;
	float: left;	
}
.footer .copys{
	float: right;
	padding:10px 20px 0 0;
}
.footer .copys a{
	float: left;
	margin:0 0 0 12px;
}
.footer .copys img{
	display: block;
	width: 34px;
	height: 34px;
}