
body{
  font-family:'Roboto', sans-serif;
  background-color: #C9C9C9;
  letter-spacing: 1px;
}

#container {
	width:950px;
	margin: 0 auto;
}

h1.top-h1{
  font-family: 'Ubuntu', sans-serif;
  color:#58675B;
  font-size:40px;
  letter-spacing:3px;
  font-weight:300;
  padding-bottom:3px;
  text-align:center;
}

h1.bottom-h1{
  font-family: 'Ubuntu', sans-serif;
  color:#4B560E;
  font-size:25px;
  letter-spacing:3.5px;
  text-align:center;
}


h3{
	font-weight: 700;
	font-size: 30px;
	color: #6D8672;
}

p{
	color:#37523B;
	font-size: 30px;
	font-weight:300;
	line-height: 40px;
	font-family: 'Roboto', sans-serif;


}

.drop-cap{
	font-size: 100px;
	font-weight: 400;
	line-height: 70px;
	float:left;
	margin: 7px 14px 0 0;
}

.floatImgLeft{
	float: left;
	margin-right: 30px;
	padding: 0;
}


.floatImgright{
	float:right;
	margin-left: 30px;
	padding:0;
}

#end{
	text-align:center;
}
